@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

/* .typewriter-animation{ */
/* letter-spacing: 10px; */
/* animation: 
    cursor .4s step-end infinite alternate; */
/* } */

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

@font-face {
  font-family: "codepro";
  src: url("../../public/Source_Code_Pro/SourceCodePro-VariableFont_wght.ttf");
}

@font-face {
  font-family: "firacode";
  src: url("https://fonts.googleapis.com/css?family=Fira Code");
}

.marquee-container {
  position: absolute;
  overflow: hidden;
}
/* --gradient-color: #; --gradient-width: 60px; */
.marquee-container::before,
.marquee-container::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50px; /* Adjust the width as needed */
  z-index: 1;
}

.marquee-container::before {
  left: 0;
  /* Blur the background */
}

.marquee-container::after {
  right: 0;
}
